<div class="row">
    <h1>All Users</h1>
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">UserId#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Delete User</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userArray">
                <th>{{ user['userId'] }}</th>
                <td class="user">{{ user['firstName'] }}</td>
                <td class="user">{{ user['lastName'] }}</td>
                <td>{{ user['email'] }}</td>
                <td><button type="button" class="btn btn-primary btn-sm" (click)="Delete(user)">Delete</button></td>
                <!-- <td><button type="button" class="btn btn-primary btn-sm" (PostDeleted)="DeletePost($event)">Delete</button></td> -->
            </tr>
        </tbody>
    </table>
</div>