<h1>All Opportunities</h1>
<a [routerLink]="['/newopp']" routerLinkActive="router-link-active" class="btn btn-secondary">Add Opportunity</a>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Center</th>
                <th scope="col">Date</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr *ngFor="let opp of opportunityArray">
                <td class="user">{{ opp['name'] }}</td>
                <td class="user">{{ opp['center'] }}</td>
                <td class="user">{{ opp['date'] | date:'MM-dd-yyyy'}}</td>

                <td>
                    <button type="button" class="btn btn-primary btn-sm"
                        [routerLink]="['/editopp', opp?.id]">Edit</button>
                    <!-- <button 
                        type="button" 
                        class="btn btn-primary btn-sm" 
                        (click)="Edit(opp.id)"
                    >
                        Edit
                    </button> -->
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" (click)="Delete(opp)">Delete</button>
                </td>
                <!-- <td><button type="button" class="btn btn-primary btn-sm" (PostDeleted)="DeletePost($event)">Delete</button></td> -->
            </tr>
        </tbody>
    </table>
</div>