<h1>Edit Account</h1>
<div class="alert alert-danger" *ngIf="error">
    {{errorMsg}}
</div>
<div>
    <label class="form-label">
        Set Roles/Permissions
    </label>
</div>
<div class="form-check">
    <input (change)="setIsVolunteer(isVolunteer)" mdbCheckbox [ngModel]="isVolunteer" class="form-check-input" type="checkbox" value="" />
    <label class="form-check-label" for="flexCheckDefault">
        Volunteer
    </label>
</div>
<div class="form-check">
    <input (change)="setIsAdmin(isAdmin)" mdbCheckbox [ngModel]="isAdmin" class="form-check-input" type="checkbox" value="" />
    <label class="form-check-label" for="flexCheckDefault">
        Admin
    </label>
</div>
<div class="mb-3">
    <label for="firstName" class="form-label">User Name <span class="req">*</span></label>
    <input type="text" class="form-control" id="firstName" required [(ngModel)]="editedUser!.username">
</div>
<div class="mb-3">
    <label for="firstName" class="form-label">First Name <span class="req">*</span></label>
    <input type="text" class="form-control" id="firstName" required [(ngModel)]="editedUser!.firstName">
</div>
<div class="mb-3">
    <label for="lastName" class="form-label">Last Name <span class="req">*</span></label>
    <input type="text" class="form-control" id="lastName" required [(ngModel)]="editedUser!.lastName">
</div>
<div class="mb-3">
    <label for="email" class="form-label">Email <span class="req">*</span></label>
    <input type="email" class="form-control" id="email" required [(ngModel)]="editedUser!.email">
</div>
<div class="mb-3">
    <label for="password" class="form-label">Password <span class="req">*</span></label>
    <input type="password" class="form-control" id="password" required [(ngModel)]="editedUser!.password">
</div>
<div *ngIf="isVolunteer">
    <div class="mb-3">
        <label class="form-label">Address <span class="req">*</span></label>
        <input type="text" class="form-control" required [(ngModel)]="editedUser!.address">
    </div>
    <div class="mb-3">
        <label class="form-label">Educational Background <span class="req">*</span></label>
        <input type="text" class="form-control" required [(ngModel)]="editedUser!.educationalBackground">
    </div>
    <div class="mb-3">
        <label class="form-label">Emergency Contact Name<span class="req">*</span></label>
        <input type="text" class="form-control" required [(ngModel)]="editedUser!.emergencyContactName">
    </div>
    <div class="mb-3">
        <label class="form-label">Emergency Contact Phone<span class="req">*</span></label>
        <input type="text" class="form-control" required [(ngModel)]="editedUser!.emergencyContactPhone">
    </div>
    <div class="mb-3">
        <label class="form-label">Emergency Contact Email<span class="req">*</span></label>
        <input type="text" class="form-control" required [(ngModel)]="editedUser!.emergencyContactEmail">
    </div>
    <div class="mb-3">
        <label class="form-label">Emergency Contact Address<span class="req">*</span></label>
        <input type="text" class="form-control" required [(ngModel)]="editedUser!.emergencyContactAddress">
    </div>
    <div class="mb-3">
        <label class="form-label">Volunteer Approval Status<span class="req">*</span></label>
        <input type="text" class="form-control" required [(ngModel)]="editedUser!.approvalStatus">
    </div>
    <div class="form-check">
        <input mdbCheckbox [ngModel]="editedUser!.hasSSN" class="form-check-input" type="checkbox" value="" />
        <label class="form-check-label">
            Has Social Security Number
        </label>
    </div>
    <div class="form-check">
        <input mdbCheckbox [ngModel]="editedUser!.hasLicense" class="form-check-input" type="checkbox" value="" />
        <label class="form-check-label">
            Has Driver's License
        </label>
    </div>
    <div class="mb-3">
        <label class="form-label">
            Preferred Work Centers <span class="req">*</span>
        </label>
        <app-table [items]="editedUser!.preferredWorkCenters"></app-table>
    </div>
    <div class="mb-3">
        <label class="form-label">Skills or Interests <span class="req">*</span></label>
        <app-table [items]="editedUser!.skillsOrInterests"></app-table>
    </div>
    <div class="mb-3">
        <label class="form-label">Availability Times <span class="req">*</span></label>
        <app-table [items]="editedUser!.availabilityTimes"></app-table>
    </div>
    <div class="mb-3">
        <label class="form-label">Phone Numbers <span class="req">*</span></label>
        <app-table [items]="editedUser!.phoneNumbers"></app-table>
    </div>
    <div class="mb-3">
        <label class="form-label">Current Licenses <span class="req">*</span></label>
        <app-table [items]="editedUser!.currentLicenses"></app-table>
    </div>
</div>
<button type="button" class="btn btn-danger" (click)="EditUser()">
    Submit
</button>