<h1>Edit Account</h1>
<div class="alert alert-danger" *ngIf="error">
    {{errorMsg}}
</div>
<!-- <div class="mb-3">
  <label for="userId" class="form-label">User Id <span class="req">*</span></label>
  <input type="text" class="form-control" id="userId" required [(ngModel)]="newUser!.userId">
</div> -->
<div>
    <label class="form-label">
        Set Roles/Permissions
    </label>
</div>
<div class="form-check">
    <input mdbCheckbox [ngModel]="isVolunteer" class="form-check-input" type="checkbox" value="" />
    <label class="form-check-label" for="flexCheckDefault">
        Volunteer
    </label>
</div>
<div class="form-check">
    <input mdbCheckbox [ngModel]="isAdmin" class="form-check-input" type="checkbox" value="" />
    <label class="form-check-label" for="flexCheckDefault">
        Admin
    </label>
</div>
<div class="mb-3">
    <label for="firstName" class="form-label">First Name <span class="req">*</span></label>
    <input type="text" class="form-control" id="firstName" required [(ngModel)]="editedUser!.firstName">
</div>
<div class="mb-3">
    <label for="lastName" class="form-label">Last Name <span class="req">*</span></label>
    <input type="text" class="form-control" id="lastName" required [(ngModel)]="editedUser!.lastName">
</div>
<div class="mb-3">
    <label for="email" class="form-label">Email <span class="req">*</span></label>
    <input type="email" class="form-control" id="email" required [(ngModel)]="editedUser!.email">
</div>
<div class="mb-3">
    <label for="password" class="form-label">Password <span class="req">*</span></label>
    <input type="password" class="form-control" id="password" required [(ngModel)]="editedUser!.password">
</div>
<div class="mb-3">
    <label class="form-label">Address <span class="req">*</span></label>
    <input type="text" class="form-control" required [(ngModel)]="address">
</div>
<div class="mb-3">
    <label class="form-label">Educational Background <span class="req">*</span></label>
    <input type="text" class="form-control" required [(ngModel)]="educationalBackground">
</div>
<div class="mb-3">
    <label class="form-label">Emergency Contact Name<span class="req">*</span></label>
    <input type="text" class="form-control" required [(ngModel)]="emergencyContactName">
</div>
<div class="mb-3">
    <label class="form-label">Emergency Contact Phone<span class="req">*</span></label>
    <input type="text" class="form-control" required [(ngModel)]="emergencyContactPhone">
</div>
<div class="mb-3">
    <label class="form-label">Emergency Contact Email<span class="req">*</span></label>
    <input type="text" class="form-control" required [(ngModel)]="emergencyContactEmail">
</div>
<div class="mb-3">
    <label class="form-label">Emergency Contact Address<span class="req">*</span></label>
    <input type="text" class="form-control" required [(ngModel)]="emergencyContactAddress">
</div>
<div class="mb-3">
    <label class="form-label">Volunteer Approval Status<span class="req">*</span></label>
    <input type="text" class="form-control" required [(ngModel)]="approvalStatus">
</div>
<div class="form-check">
    <input mdbCheckbox [ngModel]="hasSSN" class="form-check-input" type="checkbox" value="" />
    <label class="form-check-label">
        Has Social Security Number
    </label>
</div>
<div class="form-check">
    <input mdbCheckbox [ngModel]="hasLicense" class="form-check-input" type="checkbox" value="" />
    <label class="form-check-label">
        Has Driver's License
    </label>
</div>
<div class="mb-3">
    <label class="form-label">
        Preferred Work Centers <span class="req">*</span>
    </label>
    <app-table [items]="preferredWorkCenters"></app-table>
</div>
<div class="mb-3">
    <label class="form-label">Skills or Interests <span class="req">*</span></label>
    <app-table [items]="skillsOrInterests"></app-table>
</div>
<div class="mb-3">
    <label class="form-label">Availability Times <span class="req">*</span></label>
    <app-table [items]="availabilityTimes"></app-table>
</div>
<div class="mb-3">
    <label class="form-label">Phone Numbers <span class="req">*</span></label>
    <app-table [items]="phoneNumbers"></app-table>
</div>
<div class="mb-3">
    <label class="form-label">Current Licenses <span class="req">*</span></label>
    <app-table [items]="currentLicenses"></app-table>
</div>
<button type="button" class="btn btn-danger" (click)="EditUser()">
    Submit
</button>